.disclaimer{
  position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%, 0);
  font-size: 36px;
  border: 2px solid red;
  border-radius: 15px;
  color: red;
  padding: 15px;
  background-color: white;
}

.countdown-box{
  display: none;
  font-size: 36px;
  color: orange;
  /* border: 1px solid orange;
  border-radius: 15px; */
  padding: 15px;
  margin-top: 30px;
}
.numbers{
  display: none;
  margin-top: 30px;
}

#lista-numeri{
  font-size: 36px;
  color: blue;
  border: 1px solid blue;
  padding: 15px;
  border-radius: 15px;
}

#punteggio, #numeri-indovinati{
  font-size: 36px;
  color: green;
}

.risultati{
  display: none;
  border: 1px solid green;
  border-radius: 15px;
}
